[program:{{ application_name }}]
user = root
command = {{ virtualenv_path }}/bin/gunicorn_start
autostart=true
autorestart=true
startretries=3
stdout_logfile = {{ gunicorn_log_file }}
redirect_stderr = true
