{% extends 'staff/base.jinja'%}
{% set ctx = request.context %}

{% block content %}
<ul class="messages">
  {% for message in ctx.messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
  <a href="{{ url('staff:users_create') }}"><i class="fa fa-plus-square"></i></a>
  <table class="table table-striped">
      <tr>
        <th>First name</th>
        <th>last name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
  {% for user in object_list %}
    <tr>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>
      {% if not user.is_superuser %}
        <a href="{{ url('staff:users_delete', kwargs={'pk': user.id}) }}">delete</a>
      {% endif %}
      </td>
      <td><a href="{{ url('staff:users_update', kwargs={'pk': user.id}) }}">update</a></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
