{% extends 'staff/base.jinja'%}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">

    {# {{ messages['messages'] }} #}
    {# <ul class="messages"> #}
    {#     {% for message in messages %} #}
    {#     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> #}
    {#     {% endfor %} #}
    {# </ul> #}
    {# {% endif %} #}
    <form action="/staff/users/new/" method="post">
      <div class="body bg-gray">
        <div class="form-group">

          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          {{ form.username.errors -}}
          {{ form.username.label_tag() }}
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.errors -}}
          {{ form.password.label_tag() }}
          {{ form.password }}
        </div>
        <div class="form-group">
          {{ form.email.errors -}}
          {{ form.email.label_tag() }}
          {{ form.email }}
        </div>
        <div class="form-group">
          {{ form.first_name.errors -}}
          {{ form.first_name.label_tag() }}
          {{ form.first_name }}
        </div>
        <div class="form-group">
          {{ form.last_name.errors -}}
          {{ form.last_name.label_tag() }}
          {{ form.last_name }}
        </div>
      </div>
      <div class="footer">
        <button type="submit" class="btn bg-primary">Submit</button>
      </div>
    </form>

        </div><!-- /.col-xs-12 .col-md-8 -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
