{% extends 'student/base.jinja'%}

{% block content %}
  <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Value</th>
        <th>Problem Seed</th>
      </tr>
    {% for problem_mapping in problem_mappings %}
    <tr>
      <td>{{ problem_mapping.problem.id }}</td>
      <td>
          <a href="{{ url('student:problems_show', kwargs={'problem_id': problem_mapping.problem.id}) }}">
	      {{ problem_mapping.problem.value }}
	  </a>
      </td>
      <td>{{ problem_mapping.seed }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
